.full {
    display: inline-block;
    width: 10px;
    margin-left: 3%;
    height: 16px;
	animation: fadeIn 0.5s linear;
	opacity: 1;
	background: #ff5bf9;
}

.empty { 
	display: inline-block;
    width: 10px;
    margin-left: 3%;
    height: 16px;
    background: white;
    opacity: 0.3;
}

@keyframes pulse {
	0% {
		background: #efa3ff;
	}
	50% {
		background: #ff5bf9;
	}
	100% {
		background: #efa3ff;
	}
}

@keyframes fadeIn {
	0% { opacity: 0.3; }
	100% { opacity: 1; }
}

@keyframes emptyBar {
	0% { opacity: 1; background: white; border-color: white; }
	5% { background: #e464ff; border-color: #03a1ce ;}
	10% { background: white; border-color: white; }
	15% { background: #e464ff; border-color: #03a1ce ; }
	20% { background: white; border-color: white; }	
	25% { background: #e464ff; border-color: #03a1ce ; }
	30% { background: white; border-color: white; }
	35% { background: #e464ff; border-color: #03a1ce ; }
	40% { background: white; border-color: white; }
	45% { background: #e464ff; border-color: #03a1ce ; }
	50% { background: white; border-color: white; }
	100% { opacity: 0.3; }
}