.Darkener {
	background: grey;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	animation: dissapear 2s linear forwards;
}

.FightBox {
	width: 60%;
	height: 40%;
	top: 30%;
	left: 20%;
	/*border: 1px solid red;*/
	position: absolute;
}

.winner {

}

.loser {

}

.left {

}

.right {

}

@keyframes dissapear {
	0% { opacity: 0.5; }
	99.9% { opacity: 0.5; }
	100% { opacity: 0; }
}