.ReconnectOverlay {
	height: 300px;
	width: 480px;
	position: absolute;
	transition: 1s all;
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
}

.ReconnectOverlay button {
	position: absolute;
	font-size: 1.5rem;
	width: 40%;
	left: 30%;
	top: 60%;
}