.player {
	position: absolute;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	color: white;
    font-size: 2.2rem;
}

.top {
	top: 28%;
}

.bottom {
	bottom: 28%;
}

.vsElement {
	position: absolute;
	width: 10%;
	left: 45%;
	top: 46%;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #0f0f1d;
	z-index: -69;
}