.container {
    position: absolute;
    width: 480px;
    height: 310px;
    transform: scale(0.5);
    /*transition: 0.3s all;*/
}

.view {
    height: 280px;
    width: 480px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    background: black;
    border: 1px solid white;
    top: 0px;
    left: 0px;
    opacity: 1;
    color: white;
}

.minimizedView { 
    height: 60px;
    width: 60px;
    left: inherit;
    top: inherit;
    right: inherit;
    bottom: inherit;
    position: absolute;
    background: grey;
    border: 2px solid white;
}