.SneezeGuard {
	height: 300px;
	width: 480px;
	position: absolute;
	transition: 0.5s all;
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.backdrop {
	position: absolute;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.8;
}

.text {
    text-align: center;
    color: white;
    position: absolute;
    font-size: 2.3rem;
    width: 100%;
    height: 10%;
    top: 28%;
}

.SneezeGuard:hover {
	opacity: 1;
}

.playButton {
	position: absolute;
    font-size: 2rem;
    width: 30%;
    left: 35%;
    top: 55%;
    background: none;
    color: white;
    font-family: inherit;
    border: 2px solid white;
    padding: 3px;
    border-radius: 6px;
    transition: 0.5s all;
}

.playButton:hover {
    color: salmon;
    border: 2px solid salmon;
}