.characterName {
    position: absolute;
    margin: 0;
    font-size: 30px;
    color: #ffc56b;
    text-shadow: 1px 1px 1px black;
}

.left {
    left: 5%;
    bottom: 14%;
    text-align: left;
}

.right {
    right: 5%;
    bottom: 14%;
    text-align: right;
}