.SelectedCharacter {
    top: 10%;
    height: 100%;
    width: 140px;
    position: absolute;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    background-position: 20px 0px;
	background-image: url('~../../../assets/images/characterSelectButtonBackground.png');
	background-repeat: no-repeat;
}

.left {
	left: 10%;
}

.right {
    right: 15%;
}