.App {
    font-family: UpHeavalPro, Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.App button { 
    cursor: inherit;
}

@font-face {
    font-family: UpHeavalPro;
    src: url('./assets/fonts/UpheavalPro.ttf');
}