.App {
    font-family: UpHeavalPro, Arial, Helvetica, sans-serif;
    transform: scale(0.55);
    position: absolute;
    width: 480px;
    height: 280px;
    right: 0%;
    top: 0%;
    cursor: pointer;
}

.App button { 
    cursor: inherit;
}

.view {
    height: 280px;
    width: 480px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    background: black;
    border: 4px solid grey;
    border-radius: 20px;
}

:global .screen {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    overflow: hidden;
    border-radius: 20px;
}

:global .fadeIn {
	animation: fadeIn 1s linear forwards;
}

:global .fadeOut {
	animation: fadeOut 1s linear forwards;
}

@keyframes :global(fadeIn) {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes :global(fadeOut) {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@font-face {
    font-family: UpHeavalPro;
    src: url('./assets/fonts/UpheavalPro.ttf');
}