.full {
	display: inline-block;
	text-align: center;
	width: 33%;
	background: red;
}

.empty {
	display: inline-block;
	text-align: center;
	width: 33%;
	background: grey;
	animation: emptyBar 2s linear forwards;
}

@keyframes emptyBar {
	0% { background: red; }
	20% { background: grey; }
	40% { background: red; }
	60% { background: grey; }
	80% { background: red; }
	100% { background: grey; }
}